@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

body {
    background-color: #1e1e1e;
    color: #f3f6fa;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

#interval {
    display: none;
}

@media (max-width: 1250px) {
    #root {
        flex-direction: column;
        justify-content: flex-start;
    }
}

/**********************************************************************************************************************/
/*Side panel*/
/**********************************************************************************************************************/
#panel-side {
    padding: 7rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: #2b2b2b;
    flex: 1 16%;
}

#satellite-dropdown-text {
    color: #fec036;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    word-break: normal;
    margin: 1rem 1rem 1rem 1rem;
}


#satellite-prediction-text {
    color: #fec036;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    word-break: normal;
    margin: 1rem 1rem 1rem 1rem;
}
.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: white !important;
    cursor: pointer;
    text-align: left;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
    background-color: #2b2b2b;
    cursor: pointer;
}

#satellite-dropdown:hover, #satellite-dropdown .Select:hover {
    cursor: pointer;
}

#satellite-dropdown {
    width: 100%;
}

.Select-control, .Select-multi-value-wrapper, .Select-menu-outer div {
    background-color: #2b2b2b;
}

.Select-control, .Select, .Select-value-label, .Select-clear-zone {
    color: white;
}

.Select-menu-outer {
    background-color: #2b2b2b;
    border: 1px solid gray !important;
}

.Select-menu-outer div:hover {
    background-color: rgba(255, 255, 255, 0.01);
    cursor: pointer;
}

.Select-arrow {
    border-color: gray transparent transparent;
}

.Select-arrow-zone, .Select-clear-zone, .is-open > .Select-control {
    background-color: #2b2b2b !important;
}

#panel-side-text {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

#satellite-name {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: normal;
    color: #fec036;
    text-align: left;
}

#satellite-dropdown-component {
    color: #0f0f0f;
    text-align: center;
    cursor: pointer;
}

.satellite-description {
    font-weight: lighter;
    font-size: 1rem;
    margin: 0;
}

@media (max-width: 1500px) {
    #satellite-dropdown-text {
        font-size: 1.8rem;
    }

    #satellite-dropdown-component {
        font-size: 0.8rem !important;
    }

    #satellite-name {
        font-size: 1rem;
    }

    .satellite-description {
        font-size: 0.7rem;
    }
}

@media (max-width: 1250px) {
    #panel-side {
        padding: 3rem 10rem;
    }
}

@media (max-width: 800px) {
    #panel-side {
        padding: 3rem 7rem;
        align-items: center;
    }

    #satellite-dropdown-text {
        text-align: center;
    }

    #panel-side-text {
        align-items: center;
    }

    .satellite-description {
        text-align: center;
    }

}

@media (max-width: 550px) {
    #panel-side {
        padding: 3rem 3rem;
    }
}

/**********************************************************************************************************************/
/*Main Panel*/
/**********************************************************************************************************************/

#panel-upper-lower {
    display: flex;
    flex-direction: column;
    flex: 5 83%;
    padding: 4rem 3rem;
}

@media (max-width: 550px) {
    #panel-upper-lower {
        padding: 3rem 1rem;
    }
}

/**********************************************************************************************************************/
/*Upper Panel*/
/**********************************************************************************************************************/

#world-map-wrapper {
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 3rem;
}

#world-map {
    height: 100%;
    width: 100%;
}

#control-panel-toggle-map {
    margin: 0 !important;
}

#world-map-wrapper .sc-bdVaJa.fsmTNM, .sc-bdVaJa.bQWqnK {
    background-color: #1e1e1e;
}

#world-map-wrapper .sc-bxivhb.iArJfC, .sc-bxivhb.cmSQpo {
    background-color: #2b2b2b;
}

.sc-ifAKCX.dlqMgb, .sc-ifAKCX.dlqMgb:hover, .sc-ifAKCX.igrnnx, .sc-ifAKCX.igrnnx:hover {
    background-color: #fec036;
    border-color: #fec036;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

@media (max-width: 1250px) {
    #world-map-wrapper {
        height: 40rem;
    }
}

@media (max-width: 700px) {
    #world-map-wrapper {
        height: 30rem;
    }

    .sc-ifAKCX.dlqMgb, .sc-ifAKCX.dlqMgb:hover, .sc-ifAKCX.igrnnx, .sc-ifAKCX.igrnnx:hover {
        background-color: #fec036;
        border-color: #fec036;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }

    .sc-htoDjs.fppncY.sc-bwzfXH.gRFjMP, .sc-htoDjs.lnpZXS.sc-bwzfXH.gRFjMP {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    #world-map-wrapper {
        height: 20rem;
    }

    #control-panel-toggle-map {
        width: 110px !important;
    }

    .sc-ifAKCX.dlqMgb, .sc-ifAKCX.dlqMgb:hover, .sc-ifAKCX.igrnnx, .sc-ifAKCX.igrnnx:hover {
        background-color: #fec036;
        border-color: #fec036;
        height: 15px;
        width: 15px;
        cursor: pointer;
    }

    .sc-htoDjs.fppncY.sc-bwzfXH.gRFjMP, .sc-htoDjs.lnpZXS.sc-bwzfXH.gRFjMP {
        font-size: 0.6rem;
    }
}

/**********************************************************************************************************************/
/*Lower Panel*/
/**********************************************************************************************************************/

#panel {
    display: flex;
    flex-direction: row;
}

#placeholder {
    display: none;
}

@media (max-width: 1800px) {
    #panel {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    #panel {
        display: inline;
    }
}

/**********************************************************************************************************************/
/*Lower Panel Graph*/
/**********************************************************************************************************************/
#histogram-container {
    background-color: #2b2b2b;
    flex: 4 40%;
    display: flex;
    flex-direction: column;
}

#histogram-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 0.75rem 2rem;
}

#histogram-header .sc-bdVaJa.fsmTNM, .sc-bdVaJa.bQWqnK {
    background-color: #2b2b2b !important;
}

#histogram-header .sc-bxivhb.iArJfC, .sc-bxivhb.cmSQpo {
    background-color: #484848 !important;
}

#histogram-title {
    flex: 1 66%;
    font-size: 1rem;
    font-weight: normal;
}

#control-panel-toggle-minute {
    margin: 0;
    width: 8rem;
}

#control-panel-toggle-minute label {
    font-size: 0.7rem !important;
}

#histogram-graph {
    flex: 1 1;
}

@media (max-width: 500px) {
    #histogram-header {
        flex-direction: column;

    }

    #histogram-title {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    #histogram-container {
        height: 25rem;
    }

    #histogram-graph .xtick text, #histogram-graph .ytick text {
        font-size: 0.6rem !important;
    }
}

/**********************************************************************************************************************/
/*Lower Panel*/
/**********************************************************************************************************************/
#panel-lower {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    flex: 6 60%;
    margin-left: 2rem;
    background-color: #2b2b2b;
    font-weight: normal;
    padding: 2rem;
    flex-wrap: wrap;
}

#panel-lower-0, #panel-lower-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#panel-lower-0 {
    margin-bottom: 2rem;
}

#control-panel-elevation, #control-panel-temperature, #control-panel-latitude, #control-panel-longitude,
#control-panel-speed, #control-panel-fuel, #control-panel-battery {
    cursor: pointer;
    color: #f3f6fa !important;
}

@media (max-width: 1800px) {
    #panel-lower {
        margin: 2rem 0 0 0;
    }

    #panel-lower-0 {
        margin: 3rem 0;
    }

    #panel-lower-1 {
        margin: 2rem 0 3rem 0;
    }
}

@media (max-width: 1000px) {
    #panel-lower-0 {
        display: grid;
        grid-template-columns: 2fr 2fr 3fr;
        grid-template-rows: auto auto;
        grid-template-areas: "time . ." "elevation temperature speed";
        align-items: end;
    }

    #panel-lower-1 {
        margin: 0 0 1rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "led grad" "indicators indicators";
    }
}

@media (max-width: 700px) {
    #panel-lower{
        padding: 1rem 0.5rem;
    }
    #panel-lower-0 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "time time" "speed speed" "elevation temperature";
    }

    #panel-lower-1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "led" "grad" "indicators";
    }
}

/**********************************************************************************************************************/
/*Lower Panel Components*/
/**********************************************************************************************************************/
/*Daq Tank*/
#control-panel-elevation, #control-panel-temperature {
    margin-left: 2rem;
}

#control-panel-elevation {
    grid-area: elevation;
}

#control-panel-temperature {
    grid-area: temperature
}

.sc-cvbbAY.kicevw {
    width: 6.5rem;
}

.sc-bwzfXH.eYbLCt {
    font-size: 0.9rem !important;
}

.sc-VigVT.fZEiGQ {
    font-size: 1.2rem !important;
}

.sc-jTzLTM.giEVwx {
    font-size: 0.7rem !important;
}

.sc-brqgnP.eWznDt .label div {
    font-size: 0.6rem !important;
}

.sc-brqgnP.eWznDt .tick {
    width: 4px !important;
}

.kicevw {
    background: #383838 !important;
}

.sc-jWBwVP {
    background-color: #fec036 !important;
}

.fZEiGQ, .giEVwx {
    color: white !important;
}

.fuHQEk .track {
    stroke: #383838 !important;
}

.fuHQEk .track.progress {
    stroke: #fec036 !important;
}

.fuHQEk .tick {
    stroke: #2b2b2b !important;
}

.sc-cvbbAY.kicevw {
    width: 5.65rem;
}

@media (max-width: 1800px) {
    #control-panel-elevation, #control-panel-temperature {
        transform: scale(1.2, 1.2);
    }

    .sc-bwzfXH.eYbLCt {
        font-size: 0.75rem !important;
    }

    .sc-VigVT.fZEiGQ {
        font-size: 1.3rem !important;
    }

    .sc-jTzLTM.giEVwx {
        font-size: 0.5rem !important;
    }

    .sc-brqgnP.eWznDt .label div {
        font-size: 0.5rem !important;
    }

    .sc-brqgnP.eWznDt .tick {
        width: 6px !important;
    }
}

@media (max-width: 1500px) {
    #control-panel-elevation, #control-panel-temperature {
        transform: scale(1, 1);
    }

    .sc-VigVT.fZEiGQ {
        font-size: 1.2rem !important;
    }

    .sc-jTzLTM.giEVwx {
        font-size: 0.5rem !important;
    }

    .sc-brqgnP.eWznDt .label div {
        font-size: 0.6rem !important;
    }

    .sc-brqgnP.eWznDt .tick {
        width: 4px !important;
    }
}

@media (max-width: 1250px) {
    .sc-VigVT.fZEiGQ {
        font-size: 1rem !important;
    }
}

@media (max-width: 700px) {
    #control-panel-temperature, #control-panel-elevation {
        margin: 1rem 0 0 2rem;
    }

    .sc-bwzfXH.eYbLCt {
        font-size: 0.85rem !important;
    }

    .sc-VigVT.fZEiGQ {
        font-size: 0.9rem !important;
    }

    .sc-jTzLTM.giEVwx {
        font-size: 0.5rem !important;
    }

    .sc-brqgnP.eWznDt .label div {
        font-size: 0.5rem !important;
    }

    .sc-brqgnP.eWznDt .tick {
        width: 3px !important;
    }
}

@media (max-width: 500px) {
    #control-panel-elevation, #control-panel-temperature {
        transform: scale(0.9, 0.9);
    }

    .sc-VigVT.fZEiGQ {
        font-size: 1.2rem !important;
    }

    .sc-jTzLTM.giEVwx {
        font-size: 0.7rem !important;
    }

    .sc-brqgnP.eWznDt .label div {
        font-size: 0.7rem !important;
    }

    .sc-brqgnP.eWznDt .tick {
        width: 3px !important;
    }
}

@media (max-width: 400px) {
    #control-panel-elevation, #control-panel-temperature {
        transform: scale(0.8, 0.8);
    }
}

/*Gauge*/
#control-panel-speed {
    grid-area: speed;
    margin-bottom: -5rem;

}

.giEVwx {
    font-size: 0.5rem !important;
}

#control-panel-speed-component .scale text {
    fill: white !important;
}

.fuHQEk .needle {
    stroke: white !important;
}

.fuHQEk .needle-knob {
    stroke: #fec036 !important;
    fill: #2b2b2b;
}

@media (max-width: 1800px) {
    #control-panel-speed {
        transform: scale(1.2, 1.2);
    }
}

@media (max-width: 1500px) {
    #control-panel-speed {
        transform: scale(1, 1);
    }
}

@media (max-width: 1250px) {
    #control-panel-speed {
        margin-bottom: -4rem;
    }
}

@media (max-width: 700px) {
    #control-panel-speed {
        margin-bottom: -2rem;
    }
}

/*Time*/
#control-panel-utc {
    grid-area: time;
    margin-left: -1rem;
}

@media (max-width: 1800px) {
    #control-panel-utc {
        transform: scale(1.5, 1.5);
    }
}

@media (max-width: 1500px) {
    #control-panel-utc {
        transform: scale(1, 1);
    }
}

@media (max-width: 1250px) {
    #control-panel-utc-component {
        margin-bottom: 2rem;
    }
}

/*LEDDisplays*/
#panel-lower-led-displays {
    display: flex;
    flex-direction: column;
    grid-area: led;
}

#control-panel-latitude {
    margin-bottom: 15px;
}

.sc-kgoBCf.gcgTwS, .sc-kgoBCf.gcgTwS, .sc-kgoBCf.gcgTwS {
    border: none !important;
}

@media (max-width: 1800px) {
    #panel-lower-led-displays {
        transform: scale(1.2, 1.2);
        margin-top: 1rem;
    }
}

@media (max-width: 1500px) {
    #panel-lower-led-displays {
        transform: scale(1, 1);
    }
}

@media (max-width: 700px) {
    #panel-lower-led-displays {
        margin: 1rem 0 3rem 0;
    }
}

/*Indicators*/
#panel-lower-indicators {
    grid-area: indicators;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}


#panel-lower-indicators-0, #panel-lower-indicators-1, #panel-lower-indicators-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.panel-lower-indicator {
    margin: 5px;
}

.sc-bwzfXH.gRFjMP {
    text-align: center;
}

.dCWfnu {
    background-color: #ffe9b8 !important;
}

@media (max-width: 1800px) {
    #panel-lower-indicators {
        transform: scale(1.2, 1.2);
    }

    .sc-bwzfXH.gRFjMP {
        font-size: 0.75rem;
    }
}

@media (max-width: 1500px) {
    #panel-lower-indicators {
        transform: scale(1, 1);
    }
}

@media (max-width: 1000px) {
    #panel-lower-indicators {
        margin-top: 2rem;
        justify-content: center;
    }

    #panel-lower-indicators-0, #panel-lower-indicators-1, #panel-lower-indicators-2 {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #control-panel-solar-panel-0, #control-panel-solar-panel-1, #control-panel-camera, #control-panel-thrusters,
    #control-panel-motor, #control-panel-communication-signal {
        width: 100px;
    }
}

@media (max-width: 850px) {
    #panel-lower-indicators {
        flex-direction: row;
        justify-content: center;
    }

    #panel-lower-indicators-0, #panel-lower-indicators-1, #panel-lower-indicators-2 {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media (max-width: 500px) {
    #panel-lower-indicators {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #panel-lower-indicators-0, #panel-lower-indicators-1, #panel-lower-indicators-2 {
        flex-direction: row;
    }

    #panel-lower-indicators-2 {
        margin-left: -0.1rem;
    }
}

/*Graduated bars*/
#panel-lower-graduated-bars {
    display: flex;
    flex-direction: column;
    grid-area: grad;
}

.sc-jzJRlG.coiBuO {
    background-color: #383838 !important;
}

#control-panel-battery {
    padding-top: 15px;
}

@media (max-width: 1800px) {
    #panel-lower-graduated-bars {
        transform: scale(1.2, 1.2);
    }
}

@media (max-width: 1500px) {
    #panel-lower-graduated-bars {
        transform: scale(1, 1);
    }
}

@media (max-width: 700px) {
    #panel-lower-graduated-bars {
        margin-bottom: 3rem;
    }
}
